
$color-white: #ffffff;

$color-light: #f1faee;
$color-primary: #a8dadc;
$color-seconday: #457b9d;
$color-main: #1d3557;
$color-span: #e63946;

// Body
$color-gray: #cccccc;
$color-lightgray: #eeeeee;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
